*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}
.menu {
  background-color: #142850;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.logo {
  color: #fff;
  font-size: 28px;
  padding: 0 80px;
  font-weight: bold;
}
.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}
.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.menu_items li:hover,
li.active {
  background-color: rgba(0, 0, 0, 0.3);
  transition: -4s;
}
.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}
ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }
  .menu_items li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100%-65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all -4s;
    flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li:hover {
    background: none;
  }
  .menu_items li a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }
  .menu_items li a:hover {
    color: #e9183b;
  }
  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }
  .menu_items {
    overflow: scroll;
    height: calc(100%-65px);
  }
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #557174;
}
.main .row {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 40px;
  padding: 20px;
  flex-wrap: wrap;
}
.col {
  width: 350px;
  height: 350px;
  border: solid 2px black;
  overflow: hidden;
  padding: 10px;
  margin: 20px;
  background-color: #555;
  border-radius: 25px;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
}
.col h2 {
  text-align: center;
}
.col img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: auto;
  border: solid 2px black;
}
.col .datos {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.col .datos span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: auto;
}
footer {
  background: var(--clr3);
  padding: 50px;
  width: 100%;
  border-radius: 0;
  position: relative;
  /* background-color: #333333;*/
  background-color: #c7cfb7;
}
footer .content {
  display: flex;
  flex-direction: column;
}
footer .content .logo {
  display: flex;
  width: 100%;
  color: #333333;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: auto;
}
footer .content nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: auto;
}
footer .content nav ul li {
  display: block;
  width: 100%;
  text-align: center;
  color: #333;
  margin-bottom: 0px;
  margin-top: 10px;
}
